.nav {
    background-color: #812F8D;
    color: white;
    font-size: 200%;
    text-align: center;
    padding: 10px;
}

.lewy{
    background-color: #BB74C4;
    color: white;
    width: 25%;
    float: left;
    height: 100vh;
}

.prawy {
    float: left;
    width: 75%;

}

.prawy h2 {
    text-align: center;
}

form {
    padding: 20px;
}